@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dde1e7;
  font-family: 'PT Sans', sans-serif;
  color: #333;
  font-size: 1rem;
  line-height: 1.5em;
}

header {
  display: flex;
  align-items: center;
  top: 0;
  background-color: #dde1e7;
  padding: 1rem 0;
  box-shadow: 0 3px 3px rgba(94, 104, 121, 0.3);
}

.wrapper {
  min-height: 100vh;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #dde1e7;
  padding: 1rem 0;
  box-shadow: 0 -3px 3px rgba(94, 104, 121, 0.3);
}

footer p {
  text-align: center;
}

footer a {
  text-decoration: none;
}

/* MOBILE-FIRST */
/* No media query since this is the default */

.container {
  width: 85%;
  margin: auto;
  padding-bottom: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.mb {
  margin-bottom: 1.5rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.music-icon {
  width: 24px;
  height: 24px;
  margin: 0 0.4rem 0 0.6rem;
}

input[type='text'] {
  position: relative;
  padding-left: 0.5rem;
  width: 70%;
  height: 40px;
  margin-left: 10%;
  background-color: transparent;
  border: none;
  border-radius: 5px 0 0 5px;
  -webkit-appearance: none;
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.3);
}

input[type='submit'] {
  position: absolute;
  font-family: FontAwesome;
  background-color: transparent;
  margin-right: 10%;
  width: 10%;
  height: 40px;
  padding: 10px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  border-radius: 0 5px 5px 0;
}

input[type='submit']:hover {
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 0 3px 5px rgba(94, 104, 121, 0.3);
}

input:focus {
  outline: none;
}

.iframe-box {
  min-height: 400px;
  border-radius: 10px;
  padding: 1.2rem;
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.3);
}

iframe {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.artist-img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 0.5rem;
}

.btn {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  min-height: 50px;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.3);
}

.btn:hover {
  cursor: pointer;
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.3);
}

/* LARGER SCREENS */

@media only screen and (min-width: 1025px) {
  h3 {
    text-align: center;
  }

  .container {
    width: 80%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  input[type='text'] {
    width: 65%;
    margin-left: 15%;
  }

  input[type='submit'] {
    margin-right: 15%;
    width: 5%;
  }
}
